html {
    margin: 0 auto;
}

header {
    text-align: center;
    text-shadow: 0.1em 0.1em 0.5em rgb(60, 81, 199);
    font-family: 'Lobster', cursive;
    font-weight: normal;
    font-size: 25px;
    color: rgb(22, 8, 73);   
 }

h1 {
    margin-bottom: 20px;
}

body {
    background-image: url(Imagens/plano1.jpg);
    background-attachment: scroll;
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    /* background-size: contain; */
}

#main {
    float: left;
    width: 25%;
    text-align: justify;
    margin-right: 25px;
    margin-left: 50px;
    margin-top: 50px;
}

form {
    float: left;
    padding-left: 40px; 
    font-family: 'Abel', sans-serif;
    font-size: 25px;  
    text-align: center;
    /* display: inline-block;
    position: absolute; */
}

textarea[type=text]{
    border-radius:4px;
    box-sizing: border-box;
    width: 450px;
    height: 100px;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    resize: none;
}

input[type=number]{
    border-radius: 5px;
    width: 150px;
    height:30px;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

.button {
    border-radius: 8px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: rgb(22, 8, 73);   
    background-color: rgb(224, 210, 233);
    width: 90px;
    height: 35px;
}

section {
    text-align: left;
}

#mensagemCifrada {
    border-radius:4px;
    width: 450px;
    height: 130px;
    background-color: white;
    font-weight: normal;
    font-size: 20px;
    word-break: break-all;
    overflow: scroll;
}

/* img {
    margin-left: 580px;    
    margin-right: 0px;
    transform: rotate(15deg);
} */

#imagemBloco {
    float: left;
    width: 20%;
    padding-top: 60px;
    transform: rotate(15deg);
    margin-left: 8%;
    position: sticky; 
}